<div class="header">
  <div class="header-info">
    <div class="search">
      <input type="text" 
      class="form-control"
      placeholder="Pode procurar, tem tudo aqui :D"/>
    </div>
    <ng-content div></ng-content>
  </div>
  <div class="image">
    <img src="https://belissimacosmeticos.vteximg.com.br/arquivos/ids/161844/09-01-SOS-Summer.png?v=636510604146630000"/>
    </div>
    <div class="other d-flex">
      <img src="https://image.flaticon.com/icons/svg/210/210123.svg" />
      <span class="text"> Outros departamentos </span>
    </div>
  </div>